[server]
port_rpc

[port_rpc]
port = 5005
ip = 0.0.0.0
admin = 0.0.0.0
protocol = http

[node_size]
tiny

[node_db]
type=none
path=/var/lib/rippled/db/none

[database_path]
/var/lib/rippled/db

[sntp_servers]
time.windows.com
time.apple.com
time.nist.gov
pool.ntp.org

[validators_file]
validators.txt

# Turn down default logging to save disk space in the long run.
# Valid values here are trace, debug, info, warning, error, and fatal
[rpc_startup]
{ "command": "log_level", "severity": "warning" }

[ssl_verify]
1

[features]
MultiSign
MultiSignReserve
TrustSetAuth
